@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
html {
    font-family: Montserrat, sans-serif;
    --theme-color: #FF006E;
}
img {
    width: 640px;
}
a:link, a:visited {
    color: var(--theme-color);
}
@media (max-width: 640px) {
    img {
        width: 100%;
    }
}
