@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
body {
    margin-top: 58px;
}
html {
    font-family: Montserrat, sans-serif;
    --theme-color: #FF006E;
}
img.page-image {
    width: 640px;
}
a:link, a:visited {
    color: var(--theme-color);
}
@media (max-width: 640px) {
    img.page-image {
        width: 100%;
    }
}
.navbar {
    box-sizing: border-box;
    display: flex;
    color: white;
    background-color: var(--theme-color);
    height: 50px;
    padding: 8px;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
.navbar a {
    color: white;
    text-decoration: none;
    margin-right: 8px;
}
